div
{
    margin-left: 710px;
    background-color: lightgrey;
    text-align: center;
    border-style: solid;
    border-color: black;
    height: 470px;
    width: 400px;
    position: fixed;
}